<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/images/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Descripcion"></textarea>
                    </div>
                    <div class="input-group mb-3" >
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label"  for="inputGroupFile01">Seleccionar Archivo</label>
                          
                            
                        </div>
                    </div>
   
                    <button class="btn btn-primary">
                        Guardar Imagen
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Operacion</th>
                </tr>
            </thead>
            <tbody>
                {{#each photos}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>
                        
                        <a href="{{imageURL}}" target="_blank" class="btn btn-primary" >Ver</a>
                        <a href="/images/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
                      
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>